body {
  font-family: sans-serif;
  background-color: #b0bec5;
}

a {
  text-decoration: none;
}

nav a {
  display: inline-block;
  margin: 1em;
}

/* form div {
  margin: 1em;
  display: inline-block;
} */

#navbar-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#navbar {
  display: flex;
  justify-content: space-around;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px rgba(27, 134, 144, 0.4) inset !important;
}
